.active {
  color: green;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

#result {
	min-height: 260px;
}

#editor {
	width: 100%;
	min-height: 400px;
	height: 100%;
}

video {
	width: 200px;
	height: 200px;
	border: #000 1px solid;
}

.jumbotron {
  background-color: #ccc;
}